body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#newBook{
    background-color: aquamarine;
    border-color:  aquamarine;
    height: 4em;
    width: 8em;
    font-size: larger;
}
#myform{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 234, 250);
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: large;
}
input{
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}
#add_button{
    width: 5em;
    height: 2em;
    margin-left: 55px;
    background-color: rgb(172, 200, 250);
    border-color: rgb(172, 200, 250);
    font-size: 15px;
}

#library_shelf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book_card{
   width: 10em;
   background-color: rgb(238, 240, 118); 
   border: 7px solid rgb(30, 6, 68);
   border-radius: 4px;
   padding: 20px;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
  
}
.read_button{
    background-color: rgb(147, 147, 214);
    border-radius: 4px;
    margin-bottom: 20px;
    width: 7em;
    margin-left: 30px;
}
.remove_button{
    background-color: rgb(245, 111, 111);
    border-radius: 4px;
    width: 7em;
    margin-left: 30px;
}

