body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.newBook{
    background-color: aquamarine;
    border-color:  aquamarine;
    height: 4em;
    width: 8em;
    font-size: larger;
}
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 234, 250);
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: large;
}
input{
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}
.submit{
    width: 5em;
    height: 2em;
    margin-left: 55px;
    background-color: rgb(172, 200, 250);
    border-color: rgb(172, 200, 250);
    font-size: 15px;
}
